.indicator {
    background-color: deepskyblue;
    height: 100px;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    color: #282c34;
    font-weight: bold;
    line-height: 100px;

}

.limitReached {
    color: darkred;
    font-size: 80px;
}